<h2>Find count and diameter for specific cross-sectional area</h2>
<hr />
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Cross-sectional area" [formControl]="requiredCSA">
    </mat-form-field>
    <button class="inline-find" mat-raised-button (click)="getData()">Find</button>
</form>

<br />
<h3>Results</h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="diameter">
        <th mat-header-cell *matHeaderCellDef> Diameter </th>
        <td mat-cell *matCellDef="let element"> {{element.diameter}} </td>
    </ng-container>
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>
    <ng-container matColumnDef="crossSectionalArea">
        <th mat-header-cell *matHeaderCellDef> Cross-Sectional Area </th>
        <td mat-cell *matCellDef="let element"> {{element.crossSectionalArea}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>