
    <div class="sidebar-sticky">
        
        <div *ngFor="let m of menu">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>{{m.name}}</span>
                <a class="d-flex align-items-center text-muted" [routerLink]="m.path">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item" *ngFor="let s of m.suboptions">
                    <a class="nav-link" [routerLink]="m.path + '/' + s.path">
                        <span data-feather="file-text"></span>
                        {{s.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>